<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="newconnection.component.css" type="text/css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background:url('../assets/background.jpg') ;">
<div class="container-fluid bg"> I
<div class="row">
<div class="col-md-4 col-sm-4 col-xs-12"></div>
<div class="col-md-4 col-sm-4 col-xs-12">
  <form class="form-conatiner">
    <h1>Get new connection </h1>
    <div class="form-group ">
      <label for="exampleInputEmail1">Name:</label>
      <input type="name" class="form-control" id="exampleInputname" placeholder="Name">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Alternate mobile number:</label>
      <input type="number" class="form-control" id="exampleInputAlternatemobilenumber" placeholder="Mobile number">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Eamil Id</label>
        <input type="text" class="form-control" id="exampleInputemailid" placeholder="Email Id">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Connection type:</label>
        <div>
            <select class="form-control">
                <option>Prepaid</option>
                <option>Postpaid</option>
                <option>Dongle</option>
            </select>
        </div>
      </div> 

      <div class="form-group">
        <label for="exampleInputPassword1">Address:</label>
        <input type="text" class="form-control" id="exampleInputaddress" placeholder="Address">
      </div>
  
    <button type="submit" class="btn btn-default">Submit</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button type="submit" class="btn btn-default">Cancel</button> <br>

  </form>
</div>
<div class="col-md-4 col-sm-4 col-xs-12"></div>
</div>
</div>
</body>
</html>
